@media (max-width: 1200px) {
  /* tablet devices */
  .section-header .left {
    width: 250px; }
  .section-header .right {
    width: 300px; }
  .section-header .btn-call {
    padding: 0;
    display: inline-block;
    width: 36px;
    height: 36px; }
    .section-header .btn-call .num {
      display: none; }

  .menu-header .nav-link {
    padding-left: 1rem;
    padding-right: 1rem; }

  body {
    padding-top: 60px; }

  .img-consult-left {
    position: absolute;
    left: 10%;
    bottom: -50px;
    width: 20%; }

  .img-consult-right {
    position: absolute;
    right: 10%;
    bottom: -50px;
    width: 20%; } }
@media all and (max-width: 920px) {
  /* mobile devices */
  .consult-step-aside {
    width: 100%; }

  .bg-consult-step {
    width: 100%; }

  .chat-user-info {
    text-align: left !important; }
    .chat-user-info .user-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .chat-user-info .img-avatar {
      width: 80px;
      height: 80px;
      margin-right: 20px; }

  .chat-files {
    display: none; }

  .topbar-account {
    margin-top: 30px; }

  .title-section {
    font-size: 28px; }

  .padding-y {
    padding-top: 45px;
    padding-bottom: 45px; }

  .mobile-order-first {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }

  .mobile-hide {
    display: none; }

  .section-pagetop .title-page {
    font-size: 28px;
    text-align: center; }

  .title-page-account {
    margin-bottom: 20px; }

  .card-body {
    padding: 1rem; }

  .item-clinic .timing {
    margin-bottom: 15px; }

  .section-header {
    -webkit-box-shadow: 0 0 7px rgba(102, 102, 102, 0.6);
            box-shadow: 0 0 7px rgba(102, 102, 102, 0.6);
    height: 60px; }
    .section-header .nav-link {
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
    .section-header .menu-header {
      display: none; }
    .section-header .nav-link-user {
      display: none;
      text-indent: 0; }
      .section-header .nav-link-user i {
        position: static; }
      .section-header .nav-link-user .link-text {
        display: none; }
    .section-header .btn-call {
      border: 0; }
    .section-header .mobile-left {
      display: block;
      width: 100px; }
    .section-header .mobile-middle {
      display: block;
      text-align: center; }
    .section-header .middle {
      display: none; }
    .section-header .right {
      display: block;
      width: 120px;
      padding-right: 38px; }
    .section-header .left {
      text-align: center; }
    .section-header .lang-widget {
      display: none; }
    .section-header .btn-search {
      line-height: 40px;
      padding: 10px 12px; }
    .section-header .btn-hamburger {
      display: block; }
    .section-header .btn-login {
      display: none; }
    .section-header .img-logo {
      max-height: 36px;
      width: auto; }

  .bg-faq {
    background-image: none; }

  .section-intro .bg-shape {
    height: 520px;
    border-bottom-left-radius: 70px; }
  .section-intro .item-slide-intro {
    height: 580px; }
  .section-intro .img-intro-doctor {
    right: -150px;
    opacity: .5; }
  .section-intro .intro-cpu-wrap {
    right: 0; }
    .section-intro .intro-cpu-wrap .img-intro-cpu {
      width: 420px; }
    .section-intro .intro-cpu-wrap .people {
      display: none; }
  .section-intro .title-intro {
    font-size: 36px;
    margin-top: 150px;
    text-align: center; }
  .section-intro .intro-decor {
    height: 80px; }

  .btn-menu-chat {
    left: 90%; }

  .title-chat-wrap {
    margin-bottom: 10px; }

  .item-specialist .text-wrap {
    height: 120px; }
  .item-specialist p {
    color: #333; }
  .item-specialist .bg-special {
    opacity: .4; }
  .item-specialist .btn {
    opacity: 1; }

  .item-feature {
    margin-bottom: 20px; }

  .aside-info-right {
    margin-left: 0px; }

  .aside-info-left {
    margin-right: 0px; }

  .section-talk {
    padding-bottom: 0; }

  .aside-round-map {
    margin-top: 60px;
    margin-bottom: 60px; }
    .aside-round-map .shape-circle-map {
      width: 300px;
      height: 300px; }
    .aside-round-map .people4, .aside-round-map .people1 {
      width: 80px;
      height: 80px; }

  .form-app-sms .form-control {
    margin-bottom: 15px; }

  .item-article-home {
    margin-bottom: 30px; }

  .item-social {
    margin-bottom: 20px;
    display: block; }
    .item-social .icon {
      width: 36px;
      height: 36px; }

  .form-account-setting {
    padding: 15px; }

  .section-aside-consult1 .aside-bg {
    display: none; }
  .section-aside-consult1 .aside-content {
    padding: 30px 0px 30px 0px; }

  .section-aside-consult2 .aside-bg {
    position: static; }
    .section-aside-consult2 .aside-bg .consult-detail-bg2 {
      height: 400px; }
  .section-aside-consult2 .aside-content {
    padding: 30px 0px 30px 0px; }

  .img-consult-connecting {
    max-width: 100%;
    height: auto; }

  .item-doctor .img-wrap {
    display: inline-block;
    margin-bottom: 7px; }
  .item-doctor .img-avatar {
    width: 120px;
    height: 120px; }
  .item-doctor i.online {
    top: 15px;
    left: 6px; }

  .block-income-doctor {
    float: none;
    margin-bottom: 15px; } }

/*# sourceMappingURL=responsive.css.map */